# Bash Files 
/.bash_history
/.bash_logout
/.bash_profile

# Xorg Files
/.Xauthority

# Common Desktop Directories
/Desktop/
/Documents/
/Downloads/
/Music/
/Pictures/
/Videos/

# Windows...
/3D\ Objects/
/AppData/
/Contacts/
/Cookies@
/Favorites/
/IntelGraphicsProfiles/
/Links/
/MicrosoftEdgeBackups/
/NTUSER.*
/ntuser.*
/OneDrive/
/Recent@
/Saved Games/
/Searches/

# Program Configs I don't need to include
/.AndroidStudio*
/.android/
/.cache
/.cargo/
/.config
/.docker/
/.emacs.d
/.fonts/oh-my-git/
/.git-for-windows-updater
/.gitconfig
/.gnupg/
/.ionic/
/.local
/.minttyrc
/.mozilla
/.mysql/
/.node-gyp/
/.npm
/.nv/
/.nvidia-settings-rc
/.nvm
/.oh-my-git/
/.openlp/
/.pki
/.pulse-cookie
/.quasar*
/.rustup/
/.spacemacs
/.ssh
/.steam/
/.steampath
/.steampid
/.v8flags.*
/.var/
/.viminfo
/.VirtualBox/
/.vscode/
/.wget-hsts

