/.bash_history
/.bash_logout
/.bash_profile

/Desktop
/Documents
/Downloads

/.emacs.d
/.spacemacs
/.viminfo

/.config
/.mozilla
/.npm
/.nvm

/.X*
/.cache
/.local
/.pki

/.ssh

# Arquivos Windows
/3D\ Objects/
/AppData/
/Contacts/
/Cookies@
/Desktop/
/Documents/
/Downloads/
/Favorites/
/IntelGraphicsProfiles/
/Links/
/MicrosoftEdgeBackups/
/Music/
/NTUSER.*
/ntuser.*
/OneDrive/
/Pictures/
/Recent@
/Saved Games/
/Searches/
/Videos/

/.AndroidStudio*
/.VirtualBox/
/.android/
/.cargo/
/.git-for-windows-updater
/.gitconfig
/.ionic/
/.node-gyp/
/.rustup/
/.v8flags.*
/.vscode/

/.docker/
/.wget-hsts
/.gnupg/
/.fonts/oh-my-git/
/.oh-my-git/
/.imwheelrc
/.var/
/.minttyrc
.quasar*
VirtualBox*
