# Bash Files 
/.bash_history
/.bash_logout
/.bash_profile

# Xorg Files
/.Xauthority

# Common Desktop Directories
/Desktop/
/Documents/
/Downloads/
/Music/
/Pictures/
/Videos/
/Movies/
/Library/
/.Trash/

# SO Files
/.CFUserTextEncoding
/.DS_Store
/3D\ Objects/
/AppData/
/Contacts/
/Cookies@
/Favorites/
/IntelGraphicsProfiles/
/Links/
/MicrosoftEdgeBackups/
/NTUSER.*
/OneDrive/
/Public/
/Recent@
/Saved Games/
/Searches/
/ntuser.*

# Program Configs I don't need to include
/.AndroidStudio*
/.NERDTreeBookmarks
/.VirtualBox
/.android
/.audacity*
/.aws/
/.boto
/.cache
/.cargo
/.circleci/
/.config/Code - OSS/
/.config/Dharkael/
/.config/GIMP/
/.config/KDE/
/.config/Kingsoft/
/.config/QtProject.conf
/.config/Trolltech.conf
/.config/Unknown Organization/
/.config/VirtualBox/
/.config/akonadi*
/.config/akregatorrc
/.config/baloofilerc
/.config/bluedevilglobalrc
/.config/bomberrc
/.config/caja/
/.config/coc/
/.config/configstore/
/.config/dconf/
/.config/discoverrc
/.config/doctl/
/.config/dolphinrc
/.config/dragonplayerrc
/.config/drkonqirc
/.config/emaildefaults
/.config/emailidentities
/.config/exercism/
/.config/filelightrc
/.config/flameshot/
/.config/gcloud/
/.config/gtk*
/.config/gwenviewrc
/.config/htop/
/.config/kactivitymanagerd*
/.config/kalarmrc
/.config/kateschemarc
/.config/kcminputrc
/.config/kconf_updaterc
/.config/kde.org
/.config/kdeconnect
/.config/kded5rc
/.config/kdeglobals
/.config/kglobalshortcutsrc
/.config/khelpcenterrc
/.config/khotkeysrc
/.config/kigorc
/.config/kmail2rc
/.config/kmixctrlrc
/.config/kmixrc
/.config/konsolerc
/.config/korgacrc
/.config/krunnerrc
/.config/kscreenlockerrc
/.config/ksmserverrc
/.config/ksysguardrc
/.config/ktimezonedrc
/.config/kubrickrc
/.config/kwalletrc
/.config/kwinrc
/.config/kwinrulesrc
/.config/kxkbrc
/.config/libaccounts-glib/
/.config/mimeapps.list
/.config/neofetch/
/.config/okularpartrc
/.config/onedrive/
/.config/pavucontrol.ini
/.config/phishingurlrc
/.config/pipewire-media-session/
/.config/plasma*
/.config/plasma-localerc
/.config/powerdevilrc
/.config/powermanagementprofilesrc
/.config/pulse/
/.config/sddmthemeinstallerrc
/.config/session/
/.config/specialmailcollectionsrc
/.config/spectaclerc
/.config/spotify/
/.config/systemsettingsrc
/.config/vivaldi/
/.config/vlc/
/.config/webengineurlinterceptoradblockrc
/.config/whoozle.github.io/
/.config/xsettingsd/
/.config/zoomus.conf
/.docker
/.dvdcss
/.emacs.d
/.emulator_console_auth_token
/.fonts/oh-my-git
/.git-for-windows-updater
/.gitconfig
/.gnupg
/.gradle
/.gtkrc-2.0
/.ionic
/.kde4/
/.lesshst
/.local
/.minttyrc
/.mono/
/.mozilla
/.mysql
/.mysql_history
/.node-gyp
/.node_repl_history
/.npm
/.nv
/.nvidia-settings-rc
/.nvm
/.oh-my-git
/.oh-my-zsh/
/.openlp
/.pki
/.pulse-cookie
/.pylint.d/
/.python_history
/.quasar*
/.rustup
/.spacemacs
/.ssh
/.steam
/.steampath
/.steampid
/.terraform.d
/.v8flags.*
/.var/
/.vim/.netrwhist
/.vim/plugged/
/.viminfo
/.vivaldi_reporting_data
/.vscode
/.vscode-oss
/.wget-hsts
/.workrave
/.zcompdump*
/.zinit/
/.zoom
/.zsh_history
/.zsh_sessions/
/.zshrc.pre-oh-my-zsh
/AndroidStudioProjects/
/VirtualBox\ VMs

# Unknown files...
.uuid

